policy_module(digitalshadow, 1.100.1)

########################################
#
# Declarations
#

type digitalshadow_t;
type digitalshadow_exec_t;
init_daemon_domain(digitalshadow_t, digitalshadow_exec_t)

permissive digitalshadow_t;

type digitalshadow_initrc_exec_t;
init_script_file(digitalshadow_initrc_exec_t)

type digitalshadow_conf_t;
files_type(digitalshadow_conf_t)

type digitalshadow_var_lib_t;
files_type(digitalshadow_var_lib_t)

type digitalshadow_var_run_t;
files_type(digitalshadow_var_run_t)

type digitalshadow_port_t;
corenet_port(digitalshadow_port_t)

########################################
#
# digitalshadow local policy
#
allow digitalshadow_t self:process { fork };

allow digitalshadow_t self:fifo_file rw_fifo_file_perms;
allow digitalshadow_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(digitalshadow_t, digitalshadow_conf_t, digitalshadow_conf_t)
manage_files_pattern(digitalshadow_t, digitalshadow_conf_t, digitalshadow_conf_t)

manage_dirs_pattern(digitalshadow_t, digitalshadow_var_lib_t, digitalshadow_var_lib_t)
manage_files_pattern(digitalshadow_t, digitalshadow_var_lib_t, digitalshadow_var_lib_t)
files_var_lib_filetrans(digitalshadow_t, digitalshadow_var_lib_t, { dir file })

manage_dirs_pattern(digitalshadow_t, digitalshadow_var_run_t, digitalshadow_var_run_t)
manage_files_pattern(digitalshadow_t, digitalshadow_var_run_t, digitalshadow_var_run_t)

sysnet_dns_name_resolve(digitalshadow_t)
corenet_all_recvfrom_unlabeled(digitalshadow_t)

allow digitalshadow_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(digitalshadow_t)
corenet_tcp_sendrecv_generic_node(digitalshadow_t)
corenet_tcp_sendrecv_all_ports(digitalshadow_t)
corenet_tcp_bind_generic_node(digitalshadow_t)

gen_require(`
    type digitalshadow_port_t;
')
allow digitalshadow_t digitalshadow_port_t:tcp_socket name_bind;

gen_require(`
    type digitalshadow_port_t;
')
allow digitalshadow_t digitalshadow_port_t:tcp_socket name_connect;

domain_use_interactive_fds(digitalshadow_t)

files_read_etc_files(digitalshadow_t)

miscfiles_read_localization(digitalshadow_t)

sysnet_dns_name_resolve(digitalshadow_t)

allow digitalshadow_t digitalshadow_exec_t:file execute_no_trans;
allow digitalshadow_t self:process setsched;
corecmd_exec_ls(digitalshadow_t)
corenet_tcp_connect_http_port(digitalshadow_t)
dev_read_urand(digitalshadow_t)
fs_getattr_xattr_fs(digitalshadow_t)
kernel_read_system_state(digitalshadow_t)
